Name: {{ name }}
Version: {{ version }}
Release: {{ build_number }}%{?dist}
Summary: {{ description }}
License: {{ license }}
URL: {{ git_url }}
Source0: %{name}-%{version}.tar.gz
BuildArch: {{ architecture.rocky }}
Requires: {{ dependencies.rocky_common | join(',') }}

BuildRoot: %{_tmppath}/%{name}-%{version}-%{release}-root

%description
{{ title }}
{{ description }}

%prep
%setup -q

%build

%install
make DESTDIR=%{buildroot} install

%files
/usr/share/nfs-ansible/*

%changelog
* Tue Apr 29 2025 Brett Kelly <bkelly@45drives.com> 1.0.1-2
- added missing ip lookup plugin
* Tue Apr 29 2025 Brett Kelly <bkelly@45drives.com> 1.0.1-1
- fix incorrect varible name
* Thu Apr 17 2025 Brett Kelly <bkelly@45drives.com> 1.0.0-1
- initial build of nfs-ansible